h1,
p {
  font-family: Lato;
}
.chartContainer {
  width: 100px;
  height: 100px;
  max-width: 120px;
}
.parent {
  height: 100px !important;
  overflow: 'hidden';
}

/******************************************** 


MY ADDITIONS


*********************************************/

div.myheader {
  background-color: #282c34;
  width: 100%;
  height: auto;
}
div.pageContent{
  display: flex;
}
div.news{
  background-color: #282c34;
  width:200px;
  height: 100%;
  text-align: left;
}
div.chartContainer {
  width: 100%;
}